<mat-accordion multi="false" *ngIf="tasks.length > 0">
  <mat-expansion-panel *ngFor="let task of tasks">
    <mat-expansion-panel-header>
      <mat-action-row>
        <mat-icon color="primary">{{iconTaskStatus(task.status)}}</mat-icon>
        <p>{{ task.title }}</p>
      </mat-action-row>
      <mat-action-row>
        {{ daysRemaining(task.deadlineDate) }}
        <mat-icon color="primary">{{iconTaskCategory(task.category)}}</mat-icon>
      </mat-action-row>

    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn">DONE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="tasks.length <= 0">No posts added yet!</p>
