
.main {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

main.mini-padding {
  padding: 1rem calc(1rem + 60px);
}

/* Sample styling */
.setting-title {
  margin-bottom: 0;
  color: rgba(228, 28, 119, 0.8) /*#e41c77cc*/ ;
}

.setting-note {
  font-size: 14px;
  color: #484848;
  margin: 4px 0;
}

.igx-nav-drawer__aside::-webkit-scrollbar {
  width: 3px;
  background: #e4e4e4;
}

.igx-nav-drawer__aside::-webkit-scrollbar-thumb {
  background: #0375be;
  border-radius: 0;
}

.float-button{
	position:fixed;
	// display: flex;
  justify-content: center;
  width: 120px;
	height:60px;
	bottom:100px;
  right:100px;
}
button.my-float{
  color:#FFF;
  background-color: #FFF;
  border:0;
  font-size: 50px;
}
.fabc.material-icons{
  font-size:50px;
}



